.Hero {
    display: flex;
}

img {
    width: 120vh;
    height: 75vh;
}

.Hero-outer {
    background-color: #b44c74;
    width: 700px;
    height: 515px;

}

.Hero-H1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-top: 150px;
    color: white;
}

.Hero-H2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    color: rgb(255, 255, 255);
}

.Hero-btn1 {
    padding: 9px 35px;
    margin-left: 350px;
    margin-top: 80px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border-style: none;
    background-color: white;
    font-family: sans-serif
}

.Hero-btn1:hover {
    background-color: #9A1444;
    cursor: pointer;
    transition: 1s;
}