.Projup-outer {
    margin-left: 150px;
    margin-top: 50px;
    width: 700px;
    height: 600px;
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 0.5px 3px rgb(116, 0, 50);

}

.Projup-label1 {
    font-size: 24px;
    color: rgb(116, 0, 50);
    font-weight: 900;
}

.Projup-name {
    width: 350px;
    height: 30px;
    border-color: rgb(137, 0, 43);
}

.Projup-Desc {
    width: 350px;
    height: 30px;
    border-color: rgb(137, 0, 43);
}

.Projup-manager {
    width: 350px;
    height: 30px;
    border-color: rgb(137, 0, 43);
}

.Projup-Domain {
    width: 350px;
    height: 30px;
    border-color: rgb(137, 0, 43);
}

.Projup-emp {
    width: 350px;
    height: 30px;
    border-color: rgb(137, 0, 43);
}

.Proj-btn {
    padding: 5px 60px;
    margin-top: 13px;
    border-radius: 10px;
    border-style: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(181, 12, 80);

}

.Proj-btn:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
}